/*common*/
.fr {float: right;}
.fl {float: left;}

.block { display: block;}
.inline { display: inline; }
.inline-block { display: inline-block;}

.none { display: none; }
.overflow{ overflow: hidden; }

.hidden {visibility: hidden;}
/*___flex_____*/
.flex {display: flex;}
.space-around {justify-content: space-around;}
.space-between {justify-content: space-between;}
.center {justify-content: center;}
.align-center {align-items: center;}
.nowrap {flex-wrap: nowrap;}
.wrap {flex-wrap: wrap;}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

/*___font-size_____*/
.font-14 {font-size: 14px;}
.font-16 {font-size: 16px;}
.font-18 {font-size: 18px;}
.font-20 {font-size: 20px;}
.font-22 {font-size: 22px;}
.font-24 {font-size: 24px;}
.font-26 {font-size: 26px;}
.font-28 {font-size: 28px;}
.font-30 {font-size: 30px;}
.font-32 {font-size: 32px;}
.font-34 {font-size: 34px;}
.font-36 {font-size: 36px;}
.font-38 {font-size: 38px;}
.font-40 {font-size: 40px;}

.bold {font-weight: bold;}

/*___cursor_____*/
.pointer {cursor: pointer;}

/*____color____*/
.white {color: #ffffff!important;}

.margin-auto {margin: 0 auto;}

.z-index-99 {z-index: 99;}

/*单行溢出*/
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*多行溢出 手机端使用*/
.ellipsis-more{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 2; */
}
